<div class="container">
    <div class="py-2 text-center">
        <img class="d-block mx-auto mb-4" src="assets/UPE.png">
        <h2>Cadastre-se</h2>
        <p class="lead">Nosso sistema é experimental e contamos com seu uso para relatar sua experiência no nosso
            sistema e se possível feedbacks que nós ajude a melhorar ainda mais o sistema para você e futuros alunos e
            alunas.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Informações básicas</h4>
            <form class="needs-validation" [formGroup]="signupForm" (submit)="cadastrar();">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="firstName">Nome: <span class="obrigatorio">*</span></label>
                        <input type="text" [ngClass]="{'campoObrigatorio': signupForm.get('firstName').errors?.required}" class="form-control" id="firstName" formControlName="firstName">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lastName">Sobrenome: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="birthdate">Data de nascimento: <span class="obrigatorio">*</span></label>
                        <input type="date" class="form-control" id="birthdate" formControlName="birthdate">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="email">Email: <span class="obrigatorio">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="voce@poli.br"
                            formControlName="email">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="password">Senha: <span class="obrigatorio">*</span></label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="cpf">CPF: <span class="obrigatorio">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
                            <div class="invalid-feedback" style="width: 100%;">
                                O CPF é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cep">CEP: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="cep" placeholder="99999-999" formControlName="cep">
                        <div class="invalid-feedback">
                            CEP é obrigatório
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="address">Rua/Logradouro:</label>
                        <input type="text" class="form-control" id="address" placeholder="Rua Benfica"
                            formControlName="street">
                        <div class="invalid-feedback">
                            Por favor insira um endereço válido
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="neighborhood">Bairro:</label>
                        <input type="text" id="neighborhood" class="form-control" formControlName="neighborhood">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="number">Número:</label>
                        <input type="text" id="number" class="form-control" formControlName="number" placeholder="9999">
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="complement">Complemento <span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" id="complement" placeholder="Apto 320, Bloco C"
                            formControlName="complement">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="city">Cidade</label>
                        <input type="text" class="form-control" id="city" placeholder="ex: Recife, Olinda"
                            formControlName="city">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="shift">Turno</label>
                        <select class="custom-select d-block w-100" id="shift" required="" formControlName="shift">
                            <option value="">Escolha um...</option>
                            <option>Manhã</option>
                            <option>Tarde</option>
                            <option>Noite</option>
                        </select>
                        <div class="invalid-feedback">
                            Escolha um turno
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newsletter"
                                formControlName="newsletter">
                            <label class="custom-control-label" for="newsletter">Desejo receber emails com novidades
                                do
                                sistema, avisos de aulas.</label>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="signupForm.invalid">Cadastrar-se</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>