<div class="container">
    <div class="py-2 text-center">
        <h2>Cadastre-se</h2>
        <p class="lead">Nosso sistema é experimental e contamos com você para relatar sua experiência no nosso
            sistema e através desses feedbacks, nós ajudar a melhorar ainda mais o sistema para você e futuros docentes.
        </p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" [formGroup]="signupForm" (submit)="cadastrar();">
                <h4 class="mb-3">Informações básicas</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="firstName">Nome: <span class="obrigatorio">*</span></label>
                        <input type="text" pInputText
                            [ngClass]="{'campoObrigatorio': signupForm.get('firstName').errors?.required}"
                            class="form-control" id="firstName" formControlName="firstName" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lastName">Sobrenome: <span class="obrigatorio">*</span></label>
                        <input type="text" pInputText class="form-control" id="lastName" formControlName="lastName">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="birthdate">Data de nascimento: <span class="obrigatorio">*</span></label>
                        <p-calendar id="birthdate" formControlName="birthdate"></p-calendar>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gender">Sexo: <span class="obrigatorio">*</span></label>
                        <p-dropdown [options]="genders" placeholder="Escolha um" formControlName="gender"></p-dropdown>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="shift">Turno</label>
                        <p-dropdown [options]="shifts" placeholder="Escolha um" formControlName="shift"></p-dropdown>
                    </div>
                </div>

                <h4 class="mb-3">Informações de login</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="email">Email: <span class="obrigatorio">*</span></label>
                        <input type="email" pInputText class="form-control" id="email" placeholder="voce@poli.br"
                            formControlName="email">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="password">Senha: <span class="obrigatorio">*</span></label>
                        <input pPassword type="password" class="form-control" id="password" formControlName="password">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="cpf">CPF: <span class="obrigatorio">*</span></label>
                        <div class="input-group">
                            <p-inputMask mask="999.999.999-99" id="cpf" placeholder="000.000.000-00"
                                formControlName="cpf"></p-inputMask>
                        </div>
                    </div>
                </div>

                <h4 class="mb-3">Informações de endereço</h4>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cep">CEP: <span class="obrigatorio">*</span></label>
                        <p-inputMask mask="99999-999" id="cep" placeholder="00000-000" formControlName="cep">
                        </p-inputMask>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="address">Rua/Logradouro:</label>
                        <input type="text" pInputText id="address" placeholder="Rua Benfica" formControlName="street">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="neighborhood">Bairro:</label>
                        <input pInputText type="text" id="neighborhood" formControlName="neighborhood">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="number">Número:</label>
                        <p-inputMask id="number" formControlName="number" placeholder="9999999" mask="9999999">
                        </p-inputMask>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="complement">Complemento <span class="text-muted">(Opcional)</span></label>
                        <input type="text" pInputText class="form-control" id="complement"
                            placeholder="Apto 320, Bloco C" formControlName="complement">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="city">Cidade</label>
                        <input type="text" class="form-control" id="city" placeholder="ex: Recife, Olinda"
                            formControlName="city">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">Estado</label>
                        <input type="text" pInputText class="form-control" id="state" placeholder="ex: PE, PB"
                            formControlName="state">
                    </div>

                </div>

                <!-- Newsletter e botão de cadastrar -->
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <!--<h5>Newsletter</h5>
                            <div class="custom-control custom-checkbox hide">
                            <input type="checkbox" class="custom-control-input" id="newsletter"
                                formControlName="newsletter">
                            <label class="custom-control-label" for="newsletter">Desejo receber emails com novidades
                                do
                                sistema, avisos de aulas.</label>
                        </div>
                        <hr class="mb-4"> -->
                        <button class="btn btn-primary btn-lg btn-block" type="submit"
                            [disabled]="signupForm.invalid">Cadastrar-se</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>