<nav class="floating-menu" *ngIf="(user$ | async) as user; else login">
    <ul class="main-menu">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['/conta']" routerLinkActive="active"   class="ripple">
              <i class="fa fa-user fa-lg"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['/opcoes']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-cogs fa-lg"></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>

<ng-template #login>
  <nav class="floating-menu">
    <ul class="main-menu">
        <li>
            <a [routerLink]="['/login']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-sign-in fa-lg"></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>
</ng-template>