<div style="padding:0px 25px;">
  <div class="p-grid" style="text-align:center;">
    <div class="p-col-12">
      <h2>{{titulo}}</h2>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-2">
      <label>
        Sala:
      </label>
      <p-dropdown [options]="salas" [filter]="true" [style]="{'width':'150px'}"></p-dropdown>
    </div>
    <div class="p-col-2">
      <label>
        Cadeira:
      </label>
      <p-dropdown [options]="cadeiras" [filter]="true"></p-dropdown>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-2">
      <label>
        Professor:
      </label>
      <p-dropdown [options]="professores" [filter]="true"></p-dropdown>
    </div>
    <div class="p-col-4">
      <label>
        Horário:
      </label>
      <p-dropdown [options]="horarios" [filter]="true"></p-dropdown> até <p-dropdown [options]="salas" [filter]="true">
      </p-dropdown>
    </div>
  </div>
</div>