<div class="ui-g ui-fluid">
  <div class="ui-g-6">
      <img src="assets/logoUPE.png" class="logo">
  </div>
  <div class="ui-g-6 text-right">
    <span *ngIf=" user ; else deslogado">
      Olá, {{user?.name}}
    </span>
    <ng-template #deslogado>
      <button type="button" class="btn" label="Click" (click)="showDialog()">Faça o login</button>
    </ng-template>    
  </div>
</div>

<p-dialog [(visible)]="display">
  <p-header>
    Faça seu login
  </p-header>
  <div class="inputFull">
    <div class="ui-g-12 ui-g-fluid">
      <h4>Login:</h4><br>
      <input type="text" pInputText placeholder="Username">
    </div>
    <div class="ui-g-12 ui-g-fluid">
      <h4>Senha:</h4><br>
      <input type="password" pPassword />
    </div>
    <div class="ui-g-12 ui-g-fluid">
      <button class="btn btn-info">Login</button>
      <button class="btn btn-info">Limpar</button>
      <p style="margin-top: 5px;">Não tem conta ainda? Faça o seu cadastro <a href="#">aqui</a>.</p>
    </div>
  </div>
</p-dialog>



