<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-left">Turma</th>
                    <th scope="col">Cadeira</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Sala</th>
                    <th scope="col" class="text-right">Início</th>
                    <th scope="col" class="text-right">Fim</th>
                    <th colspan="1" class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aula of aulas; let i=index;">
                    <td class="text-left">{{aula.turma}}</td>
                    <td>{{aula.cadeira.name}}</td>
                    <td>{{aula.professor.name}}</td>
                    <td>{{aula.sala.bloco.name}}-{{aula.sala.name}}</td>
                    <td class="text-right">{{aula.inicio}}</td>
                    <td class="text-right">{{aula.fim}}</td>
                    <td class="text-right">
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Opções
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="alterar(i);">Alterar</a>
                                <a class="dropdown-item" (click)="delete(i);">Excluir</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>