<div class="container">
    <div class="py-5 text-center">
        <h3>Minha conta</h3>
    </div>
    <form class="needs-validation">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="">Nome</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Sobrenome:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Curso:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-8 mb-3">
                <label for="">Email:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Senha:</label>
                <input type="password" class="form-control">
            </div>
            <div class="col-md-8 mb-3">
                <label for="">Rua:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Número:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Bairro:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Cidade:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Estado:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Turno:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-12 mt-3">
                <button class="btn btn-lg btn-danger btn-block">Salvar</button>
            </div>
        </div>
    </form>
</div>