<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Novo Bloco
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form [formGroup]="blocoForm" (ngSubmit)="cadastrar();">
            <div class="row ml-4 mr-4 mb-2">
                <label for="">Nome</label>
                <input type="text" formControlName="name" class="form-control">
            </div>
            <hr class="mr-1 ml-1">
            <div class="row m-2">
                <button class="form-control btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>