<div class="container">
    <div class="py-5 text-center">
        <h3>Minha conta</h3>
    </div>
    {{account | json}}
    <form class="needs-validation" [formGroup]="myAccountForm" (ngSubmit)="atualizar();">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="">Nome</label>
                <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Sobrenome:</label>
                <input type="text" class="form-control" formControlName="lastName">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Curso:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-8 mb-3">
                <label for="">Email:</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Senha:</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
        </div>
        <div class="row" formGroupName="endereco">
            <div class="col-md-8 mb-3">
                <label for="">Rua:</label>
                <input type="text" class="form-control" formControlName="street">
            </div>
            <div class="col-md-4 mb-3">
                <label for="">Número:</label>
                <input type="text" class="form-control" formControlName="number">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Bairro:</label>
                <input type="text" class="form-control" formControlName="neighborhood">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Cidade:</label>
                <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Estado:</label>
                <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="col-md-3 mb-3">
                <label for="">Turno:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <button class="btn btn-lg btn-danger btn-block">Salvar</button>
            </div>
        </div>
    </form>
</div>