<div class="container">
    <div class="row text-center">
        <div class="col-md-8 order-md-1" style="margin:30px auto;">
            <h4 class="mb-3">Cadastro de aula</h4>
            <form class="needs-validation" [formGroup]="aulaForm" (ngSubmit)="cadastrar();">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="firstName">Cadeira</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="" value=""
                            required="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lastName">Professor</label>
                        <input type="text" class="form-control" formControlName="professor" placeholder="" value=""
                            required="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lastName">Turma</label>
                        <input type="text" class="form-control" formControlName="turma" placeholder="BM, VM, CM..."
                            value="" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="country">Sala</label>
                        <select class="form-control d-block w-100" required="" formControlName="sala">
                            <option value="">Escolha uma...</option>
                            <option value="{{i}}" *ngFor="let sala of salas; let i = index">
                                {{sala.bloco.name}}-{{sala.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            A sala selecionada é inválida.
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="country">Começa às</label>
                        <select class="form-control d-block w-100" required="" formControlName="inicio">
                            <option value="">Escolha um horário...</option>
                            <option value="07:10">07:10</option>
                            <option value="08:00">08:00</option>
                            <option value="08:50">08:50</option>
                            <option value="09:40">09:40</option>
                            <option value="10:30">10:30</option>
                            <option value="11:20">11:20</option>
                            <option value="12:10">12:10</option>
                            <option value="13:00">13:00</option>
                            <option value="13:50">13:50</option>
                            <option value="14:40">14:40</option>
                            <option value="15:30">15:30</option>
                            <option value="16:20">16:20</option>
                            <option value="17:10">17:10</option>
                            <option value="18:00">18:00</option>
                            <option value="18:50">18:50</option>
                            <option value="19:40">19:40</option>
                            <option value="20:30">20:30</option>
                            <option value="21:20">21:20</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="state">Termina às</label>
                        <select class="form-control d-block w-100" required="" formControlName="fim">
                            <option value="">Escolha um horário...</option>
                            <option value="07:10">07:10</option>
                            <option value="08:00">08:00</option>
                            <option value="08:50">08:50</option>
                            <option value="09:40">09:40</option>
                            <option value="10:30">10:30</option>
                            <option value="11:20">11:20</option>
                            <option value="12:10">12:10</option>
                            <option value="13:00">13:00</option>
                            <option value="13:50">13:50</option>
                            <option value="14:40">14:40</option>
                            <option value="15:30">15:30</option>
                            <option value="16:20">16:20</option>
                            <option value="17:10">17:10</option>
                            <option value="18:00">18:00</option>
                            <option value="18:50">18:50</option>
                            <option value="19:40">19:40</option>
                            <option value="20:30">20:30</option>
                            <option value="21:20">21:20</option>
                            <option value="22:10">22:10</option>
                        </select>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>