<h4 class="mb-3">{{title}}</h4>
<div class="row">
    <div class="col-md-4 mb-3">
        <label for="firstName">Nome: <span class="obrigatorio">*</span></label>
        <input type="text" pInputText [ngClass]="{'campoObrigatorio': signupForm.get('firstName').errors?.required}"
            class="form-control" id="firstName" formControlName="firstName" />
    </div>
    <div class="col-md-4 mb-3">
        <label for="lastName">Sobrenome: <span class="obrigatorio">*</span></label>
        <input type="text" pInputText class="form-control" id="lastName" formControlName="lastName">
    </div>
    <div class="col-md-4 mb-3">
        <label for="birthdate">Data de nascimento: <span class="obrigatorio">*</span></label>
        <p-calendar id="birthdate" formControlName="birthdate"></p-calendar>
    </div>
    <div class="col-md-4 mb-3">
        <label for="gender">Sexo: <span class="obrigatorio">*</span></label>
        <p-dropdown [options]="genders" placeholder="Escolha um" formControlName="gender"></p-dropdown>
    </div>
    <div class="col-md-4 mb-3">
        <label for="shift">Turno</label>
        <p-dropdown [options]="shifts" placeholder="Escolha um" formControlName="shift"></p-dropdown>
    </div>
</div>