<div class="container text-center">
    <h3>Gerenciamento</h3>
    <div class="row pt-4">
        <div class="col-md-3">
            <a class="btn btn-danger" [routerLink]="['/controle/discentes']" routerLinkActive="false" >Discentes</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger" [routerLink]="['/controle/aulas']">Aulas</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger" [routerLink]="['/controle/salas']">Salas</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-danger" [routerLink]="['/controle/blocos']">Blocos</a>
        </div>
    </div>
</div>

