<div class="container text-center p-2">
    <h3>Gerenciamento</h3>
    <div class="row pt-4 text-center">
        <div class="col-md-12">
            <a class="btn btn-danger" [routerLink]="['/controle/discentes']" routerLinkActive="false">Discentes</a>
            <a class="btn btn-danger" [routerLink]="['/controle/aulas']">Aulas</a>
            <a class="btn btn-danger" [routerLink]="['/controle/salas']">Salas</a>
            <a class="btn btn-danger" [routerLink]="['/controle/blocos']">Blocos</a>
        </div>
    </div>
</div>