<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>


<!--
<nav class="floating-menu" *ngIf="(user$ | async) as user; else login">
    <ul class="main-menu">
        <li>
            <a [routerLink]="['/']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['/conta']" routerLinkActive="active"   class="ripple">
              <i class="fa fa-user fa-lg"></i>
            </a>
        </li>
        <li>
            <a [routerLink]="['/opcoes']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-cogs fa-lg"></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>

<ng-template #login>
  <nav class="floating-menu">
    <ul class="main-menu">
        <li>
            <a [routerLink]="['/login']" routerLinkActive="active"  class="ripple">
              <i class="fa fa-sign-in fa-lg"></i>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>
</ng-template>
-->