<div class="row fixed-top bg-light pt-2 pb-2 d-flex">
    <div class="col-6">
        <a [routerLink]="['']">
          <img src="assets/UPE.png" style="max-height:57px">
        </a>
    </div>
    <div class="col-6 text-right p-3" style="padding-right:2rem!important">
        <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Opções
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#loginModal">Realizar Login</a>
              <a class="dropdown-item" href="#">Minha conta</a>
              <a class="dropdown-item" href="#">Minha assinatura</a>
            </div>
          </div>
    </div>
</div>