<form>
    <div class="p-grid p-dir-col">
        <div class="p-col">
            <label>Nome Completo:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Email:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Senha:</label>
            <input type="password" pInputText />
        </div>
        <div class="p-col">
            <label>Sexo:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Data de Aniversário:</label>
            <input type="date" pInputText />
        </div>
        <div class="p-col">
            <label>CEP:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Rua:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Número:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Bairro:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Cidade:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Estado:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <label>Complemento:</label>
            <input type="text" pInputText />
        </div>
        <div class="p-col">
            <button type="submit">Cadastrar</button>
            <button type="reset">Limpar</button>
        </div>
    </div>
</form>