<div style="padding:20px;">
    <form [formGroup]="usuarioForm" (ngSubmit)="cadastrar();">
        <div class="p-grid">
            <div class="p-col-7">
                <label>Nome Completo:</label>
                <input type="text" formControlName="name"  />
            </div>
            <div class="p-col-4">
                <label>Email:</label>
                <input type="text" formControlName="email"  />
            </div>
            <div class="p-col-2">
                <label>Senha:</label>
                <input type="password"  />
            </div>
            <div class="p-col-1">
                <label>Sexo:</label>
                <input type="text"  />
            </div>
            <div class="p-col-2">
                <label>Data de Aniversário:</label>
            </div>
            <div class="p-col">
                <label>CEP:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Rua:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Número:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Bairro:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Cidade:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Estado:</label>
                <input type="text"  />
            </div>
            <div class="p-col">
                <label>Complemento:</label>
                <input type="text"  />
            </div>
            <div class="p-col-12">
                <button type="submit">Cadastrar</button>
                <button type="reset">Limpar</button>
            </div>
        </div>
    </form>
</div>