<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col" class="text-right">#</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let discente of discentes;">
            <td style="vertical-align: middle;">{{discente.name}}</td>
            <td class="text-right">
                <button (click)="alterarDiscente(discente.id);" class="btn btn-secondary btn-lg"><i class="fa fa-pencil"></i></button>
                <button (click)="removerDiscente(discente.id);" class="btn btn-secondary btn-lg ml-2"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>