/* You can add global styles to this file, and also import other style files */
body {
    margin: 0!important;
    padding: 0!important;
}

label {
    display: block;
    font-weight: bold;
}

.text-right {
    text-align:right!important;
    color:red!important;
}