html, body {
    min-height: 100%;
}

body {
    background-color:#f5f5f5;
    margin:0px;
    height:auto;
    text-align:center;
}

.obrigatorio {
    color: rgb(255,0,0)!important;
    font-weight:bold;
}

.campoObrigatorio {
    border: 1px solid red!important;
}

.campoObrigatorio ~ div {
    color: rgb(255,0,0)!important;
}

label {
    display: block!important;
}