<div>
    <h5 class="text-left">Acompanhe as aulas</h5>
    <div class="jumbotron containerAulas">
        <div *ngIf="aulas.length > 0; else semAulas">
            <div class="row card aulaBloco text-center" *ngFor="let aula of aulas; let i=index;">
                <div class="col-2-md">
                    {{aula.turma}}
                </div>
                <div class="col-2-md">
                    {{aula.cadeira.name}}
                </div>
                <div class="col-2-md">
                    {{aula.discente.name}}
                </div>
                <div class="col-2-md text-capitalize">
                    {{aula.sala.bloco.name}}{{aula.sala.name}}
                </div>
                <div class="col-2-md">
                    {{aula.inicio}} até {{aula.fim}}
                </div>
                <div class="col-2-md pr-4 text-right">
                    <a><i class="fa fa-fw fa-ellipsis-v"></i></a>
                </div>
            </div>
        </div>
        <ng-template>
            <div class="row card aulaBloco text-center">
                Sem aulas ocorrendo no momento!
            </div>
        </ng-template>
    </div>
</div>