<div class="ui-g-12">
  <h3>Aulas em andamento</h3>
  <div class="table-responsive rounded-lg" >
    <table class="table table-bordered">
      <thead class="thead-dark rounded-circle">
        <tr>
          <th scope="col" *ngFor="let col of cols">{{col.header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aula of aulas">
          <td>{{aula.sala}}</td>
          <td>{{aula.nome}}</td>
          <td>{{aula.professor}}</td>
          <td>{{aula.horarioInicio}} <i class="fa fa-arrow-right"></i> {{aula.horarioFim}}</td>
          <td>{{aula.horaCadastro | date: 'hh:mm ' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>